{
	"port":1776,
	"address_table_max_size":256,
	"file_name_length":89,
	"default_address_size":16,
	"save_file":"savefile.txt",
	"bucket_number":3,
	"max_server_queue_size":256,
	"storage_directory":"NodeStorage",
	"log_directory":"",
	"server_rpc_buffer_size":64,
	"node_update_interval":5,
	"node_update_parallelism":8,
}
