[Desktop Entry]
Encoding=UTF-8
Name=Link to project-plan - Google Docs
Type=Link
URL=https://docs.google.com/document/d/1qOQzjWEvP27GbVlJPQ2pLXtL2BGa9W8Ftft5oKZluPk/edit
Icon=text-html
